<!DOCTYPE html>
<html lang="ru-ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Карточка товара</title>
</head>
<body>
    <div>Меню: <a href="/"> Home</a> / <a href="/items">Items</a> / <a href="/about">About </a></div>
    <h1>Товар: {{ item.name }}</h1>
    <p>ID: {{ item.id }}</p>
    {% if item.quantity == 0 %}
        <p>Товар отсутствует</p>
    {% else %}
        <p>Количество: {{ item.quantity }} ед.</p>
    {% endif %}
    <a href="/items">Назад</a>
</body>
</html>